# ---------- Ядро и обработка данных ----------
numpy
pandas
scipy
itables

# ---------- Визуализация ----------
matplotlib
seaborn
plotly

# ---------- Классическое ML ----------
scikit-learn

# ---------- Градиентный бустинг ----------
xgboost
lightgbm
catboost

# ---------- Глубокое обучение ----------
tensorflow
torch
torchvision
torchaudio
transformers

# ---------- Обработка естественного языка (NLP) ----------
nltk
spacy

# ---------- Компьютерное зрение и изображения ----------
opencv-python
Pillow

# ---------- Сбор данных (web scraping) ----------
beautifulsoup4
scrapy

# ---------- Утилиты ----------
joblib

# ---------- Среда разработки ----------
jupyter